/**{
  margin: 0;
  overflow: hidden;
  color: yellow;
}
.tommy{
  position: relative;
  display: in-block;
}
.tommy:hover .gentle{
  display:block;
  right: 0;
}
.gentle{
  display:none;
  position:absolute;
}
.gentle a{
  text-decoration: none;
  color: green;
}
.gentle a:hover{
  color: red;
}
.clock{
  height: 200px;
}
.main{
  display: flex;
}
.dam{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.prom{
  width:80px;
}
.jerry {
  max-width: 1000px;
}
.terry{
  background:black;
}
.owen{
  color:red;
}*/

/*style="width:100%; height:450px; object-fit:cover;"*/