{% extends 'jerry.html' %}
{% block content %}
<main class="main">
  <section class="dam">
      <a href="#"><i class="fa-solid fa-calendar fa-2xl prom"></i></a>
      <a href="#"><i class="fa fa-first-order fa-2xl prom"></i></a>
      <a href="#"><i class="fa fa-bullhorn fa-2xl prom"></i></a>
      <a href="#"><i class="fa fa-file fa-2xl prom" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-landmark fa-2xl prom"></i></a>
      <a href="#"><i class="fa-solid fa-gear fa-2xl prom"></i></a>
  </section>
</main>

{% endblock %}