{% extends 'jerry.html' %}
<!--{% load django_bootstrap5 %}-->

{% block content %}
  <div class="container">
    <h2>Basic Info</h2>
    <form action="{% url 'CreateEvent:create' %}" method="POST" id="CE_form"  name="myForm" style=" display:flex; overflow:auto; height:100%; flex-direction:column;">
      {%csrf_token%}
      {{ form }}
<!--      {% bootstrap_form form %}-->
      <input type="submit" value="NEXT" class="btn btn_primary btn-large">
    </form>
  </div>
{% endblock %}

<!--data-target=".nav" data-spy="scroll"-->
<!--data-spy="scroll"-->