{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<main class ="main">
  <section class="dam">
      <a href="#"><i class="fa-solid fa-calendar fa-2xl prom "></i></a>
      <a href="#"><i class="fa fa-first-order fa-2xl prom"></i></a>
      <a href="#"><i class="fa fa-bullhorn fa-2xl prom"></i></a>
      <a href="#"><i class="fa fa-file fa-2xl prom" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-landmark fa-2xl prom"></i></a>
      <a href="#"><i class="fa-solid fa-gear fa-2xl prom"></i></a>
  </section>
  <section>
    <h3>{{user.username}}</h3>
    <h4>{{ my_date|date:"Y-m-d" }}</h4>
    <ol>
      <li><a href="#">Basic info</a></li>
      <li><a href="#">Details</a></li>
      <li><a href="#">Tickets</a></li>
    </ol>
    <ul>
      <li><a href="">Dashboard</a></li>
      <li><a href="">Order Options</a></li>
      <li><a href="">Marketing</a></li>
      <li><a href=""></a>Manage Attendees</li>
    </ul>
  </section>
  <section>
    <h1>Dashboard</h1>
    <div class="col-md-4">
      <h5>Tickets Sold</h5>
      {{include}}
    </div>
    <div>
      <h3>Share</h3>
      <p>Event URL</p>
      <p>https://www.blackbriar.com/e/{{user.username}}</p>
      <h5>Share on: </h5>
    </div>
  </section>
</main>

{% endblock %}